{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    },
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    },
    "es": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ]
    }
  },
  "presets": ["react"],
  "plugins": ["transform-object-rest-spread"]
}
